html,
body {
  height: 100%;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
  object-fit: contain;
}

.card {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body button {
  margin-top: auto;
}
